<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-title" content="Donut">
  <title>Donut</title>
</head>
<body>
  <noscript>
    <div class="js-disabled-warning">
      <h1>JavaScript not detected.</h1>
      <p>This application requires JavaScript. Please enable it from your browser settings.
    </div>
  </noscript>
  <div id="root"></div>
  <script src="app.js"></script>
</body>
</html>
